<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
    <title>{{ tag.name }}</title>

</head>
<body>
    <header>
        <h1>{{ tag.name }}</h1>
    </header>

    <div class="container">
        <ul>
            {% for post in posts %}
                <li class="post-preview">
                    <h2 class="post-title">
                        <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.content|truncatewords:30 }}</p>
                    <p class="post-meta">Publicado por: {{ post.author.username }} el {{ post.created_date|date:"d F Y" }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
